#player-screen {

box-shadow: 0 0 20px #000;
  
}

@media only screen and (max-width: 600px) { #player-screen {box-shadow: none;} }


div#player-middle {

background-color: #192029 !important;

padding-top: 10px !important;
padding-bottom: 10px !important;

}

body {
	
background-color: rgb(20, 25, 32) !important;

}

@-moz-document url-prefix() {
div#player-bottom div#volume-container img {
    margin-top: 0px !important;
}
}



#control-container {

height: 90px !important;
padding-top: 0px !important;
padding-bottom: 0px !important;
  
}

  div.player-header { 
   margin-top: 0px !important;
  }


html, body {
    height: 100%;
}
.main {
    height: 100%;
    width: 100%;
    display: table;
}
.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

div#player-top img[amplitude-main-song-info=true] {
    width: 100%;
    height: 300px !important;
}