/* Ensure remake.png and steamdeck.png are vertically centered in table cells */
img[alt="Remake"],
img[alt="Steam Deck"] {
  display: inline-block;
  height: 1em;
  vertical-align: middle;
  transform: translateY(-0.1em); /* tweak up/down as needed */
}

.dextable td {
  vertical-align: middle;
}

/* Mobile adjustments */
@media (max-width: 600px) {
  img[alt="Remake"],
  img[alt="Steam Deck"] {
    width: 6px;
    height: auto;
  }

  .vv-spacer {
    display: none !important;
  }
}

.dextable {
    border: 0;
    border-spacing: 2px;
    border-collapse: seperate;
    width: 70%;
    margin: auto
}

.dextable td {
    padding: 3px;
    font-size: 1em
}

.fooevo {
    background: #3e4872;
    color: white;
    text-align: center;
    font-weight: bold;
    border: 1px solid #1d2b62;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px
}

.cen {
    background: #0f1733;
    color: white;
    text-align: center;
    border: 1px solid #1d2b62;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px
}

.vv-spacer {
    display: inline-block; 
    width: 12px; 
    pointer-events: none; 
    user-select: none; 
    text-shadow: none;
}

/* Global resets and basics */
body {
  margin: 0;
  background: black;
  color: #fff;
  font-family: Verdana;
  font-size: 11px;
}

img {
    max-width: 100%;
}

video {
    max-width: 100%;
}

#stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 2000px;
  height: 2000px;

  background: 
    radial-gradient(1px 1px at 10% 20%, white, transparent),
    radial-gradient(1px 1px at 30% 40%, white, transparent),
    radial-gradient(1px 1px at 70% 80%, white, transparent),
    radial-gradient(1px 1px at 90% 10%, white, transparent),
    radial-gradient(2px 2px at 25% 60%, white, transparent),
    radial-gradient(2px 2px at 80% 25%, white, transparent);

  background-repeat: repeat;
  background-size: 200px 200px; /* controls density */
  animation: animStar 50s linear infinite;
}

#stars:after {
  content: "";
  position: absolute;
  top: 2000px;
  width: 2000px;
  height: 2000px;
  background: inherit;
}

@keyframes animStar {
  from { transform: translateY(0); }
  to { transform: translateY(-2000px); }
}
