@media only screen and (min-width: 600px) {
	.tablesorter-default .header,
.tablesorter-default .tablesorter-header {
	background-image: url("../GamesCollection/sort.gif");
	background-position: center right;
	background-repeat: no-repeat;
	cursor: pointer;
}

.tablesorter-default thead .headerSortUp,
.tablesorter-default thead .tablesorter-headerAsc,
.tablesorter-default thead .tablesorter-headerSortUp {
	background-image: url("../GamesCollection/sortup.gif");
}

.tablesorter-default thead .headerSortDown,
.tablesorter-default thead .tablesorter-headerDesc,
.tablesorter-default thead .tablesorter-headerSortDown {
	background-image: url("../GamesCollection/sortdown.gif");
}
	
.fooevo {
	padding: 3px;
	cursor: pointer;
	min-width: 90px;
}
}