.dextable {
	border: 0;
	border-spacing: 2px;
	border-collapse: seperate;
	width: 100%;
}

.dextable td {
	padding: 3px;
	font-size: 1em;
}

.dextab {
	border: 0;
	border-spacing: 2px;
	border-collapse: seperate;
	width: 100%;
}

.dextab td {
	font-size: 1em;
}

.dexitem {
	border: 0;
	border-spacing: 2px;
	border-collapse: seperate;
	text-align: center;
}

.dexitem td {
	width: 50%;
	text-align: center;
	vertical-align: middle;
}

.dexitem2 {
	border: 0;
	border-spacing: 2px;
	border-collapse: seperate;
	text-align: center;
}

.dexitem2 td {
	width: 33%;
	text-align: center;
	vertical-align: middle;
}

.tabintab {
	font-size: 1em;
}

.foo {
	background: #507C36;
	color: white;
	text-align: center;
	width: 20%;
	font-weight: bold;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.footwo {
	background: #507C36;
	color: white;
	text-align: center;
	width: 50%;
	font-weight: bold;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.foothree {
	background: #507C36;
	color: white;
	text-align: center;
	width: 33%;
	font-weight: bold;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.fooevo {
	background: #3E4872;
	color: white;
	text-align: center;
	font-weight: bold;
	border: 1px solid #1d2b62;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.footop {
	background: #507C36;
	color: white;
	text-align: center;
	width: 5%;
	text-decoration: underline;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.fooleft {
	background: #507C36;
	color: white;
	text-align: left;
	font-weight: bold;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.fooinfo {
	background: #0f1733;
	color: white;
	border: 1px solid #1d2b62;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.cen {
	background: #0f1733;
	color: white;
	text-align: center;
	border: 1px solid #1d2b62;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.fooloc {
	background: #404040;
	color: white;
	width: 15%;
	text-align: center;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.foobreinfo {
	background: #404040;
	color: white;
	width: 40%;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.foohin {
	background: #353535;
	color: white;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.fooben {
	background: #4a4a4a;
	color: white;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-weight: bold;
}

.attheader {
	background: #454545;
	font-size: 1em;
	color: white;
	text-align: center;
	border: 1px solid #383838;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.lochead {
	background: #454545;
	font-size: 1em;
	color: white;
	text-align: center;
	font-weight: bold;
	border: 1px solid #383838;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.footype {
	background: #404040;
	color: white;
	text-align: center;
	width: 5.5%;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.foowhite {
	background: #eeeeee;
	color: black;
	font-weight: bold;
	width: 10%;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.fooblack {
	background: #222222;
	color: white;
	font-weight: bold;
	width: 10%;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.foox {
	background: #00D1F6;
	color: black;
	font-weight: bold;
	width: 10%;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.fooy {
	background: #9E2306;
	color: white;
	font-weight: bold;
	width: 10%;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.foosun {
	background: #FF7B11;
	color: black;
	font-weight: bold;
	width: 10%;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.foomoon {
	background: #7D09FF;
	color: white;
	font-weight: bold;
	width: 10%;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.foousun {
	background: black;
	color: #FF7B11;
	font-weight: bold;
	width: 10%;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.fooumoon {
	background: black;
	color: #7D09FF;
	font-weight: bold;
	width: 10%;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.foopika {
	background: yellow;
	color: black;
	font-weight: bold;
	width: 10%;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.fooeevee {
	background: #C4802D;
	color: black;
	font-weight: bold;
	width: 10%;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.foodet {
	background: #507C36;
	color: white;
	text-align: center;
	font-style: italic;
	width: 10%;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.foopok {
	background: #404040;
	color: white;
	text-align: center;
	width: 20%;
	font-weight: bold;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.footwoin {
	background: #507C36;
	color: white;
	text-align: center;
	width: 50%;
	font-weight: bold;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.fooevoin {
	background: #507C36;
	color: white;
	text-align: center;
	font-weight: bold;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.incen {
	background: #404040;
	color: white;
	text-align: center;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.hubheader {
	background: #507C36;
	font-size: 1.2em;
	color: white;
	text-align: center;
	font-weight: bold;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.evochain {
	background: #404040;
	font-size: 0.9em;
	color: white;
	text-align: center;
	font-weight: bold;
	border: 0;
}

.dw {
	background: #D4028C;
	color: white;
	font-weight: bold;
	width: 10%;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.pkmn {
	background: #454545;
	font-size: 1em;
	color: white;
	text-align: center;
	border: 1px solid #383838;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
}

.curr {
	background: #507C36;
	font-size: 1em;
	color: white;
	text-align: center;
	border: 1px solid #383838;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
}

.ruby {
	background: #FF0000;
	color: black;
	font-weight: bold;
	width: 10%;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.sapphire {
	background: #0000FF;
	color: white;
	font-weight: bold;
	width: 10%;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.firered {
	background: #FF0000;
	color: black;
	font-weight: bold;
	width: 10%;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.yellow {
	background: yellow;
	color: black;
	font-weight: bold;
	width: 10%;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.ioa {
	background: #FBE100;
	color: black;
	font-weight: bold;
	width: 10%;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.tct {
	background: #0AA559;
	color: black;
	font-weight: bold;
	width: 10%;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.leafgreen {
	background: #00FF00;
	color: black;
	font-weight: bold;
	width: 10%;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.colosseum {
	background: #FF8A01;
	color: black;
	font-weight: bold;
	width: 10%;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.xd {
	background: #8B09BB;
	color: white;
	font-weight: bold;
	width: 10%;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.emerald {
	background: #298008;
	color: black;
	font-weight: bold;
	width: 10%;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.diamond {
	background: #BFF5ED;
	color: black;
	font-weight: bold;
	width: 10%;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.pearl {
	background: #F7DDF5;
	color: black;
	font-weight: bold;
	width: 10%;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.platinum {
	background: #AAAAAA;
	color: black;
	font-weight: bold;
	width: 10%;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.heartgold {
	background: #FFD700;
	color: black;
	font-weight: bold;
	width: 10%;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.soulsilver {
	background: #C0C0C0;
	color: black;
	font-weight: bold;
	width: 10%;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.crystal {
	background: #21F7FF;
	color: black;
	font-weight: bold;
	width: 10%;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.pokewalker {
	background: #ff0000;
	color: white;
	font-weight: bold;
	width: 10%;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.dun {
	background: #83F3F7;
	color: black;
	font-weight: bold;
	width: 10%;
	border: 1px solid #383838;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.art {
	background: #365224;
	font-size: 1.3em;
	color: white;
	text-align: center;
	border: 1px solid #383838;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
}

.tooltab {
	border-spacing: 0px;
	border-collapse: seperate;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	width: 140px
}

.tooltabhead {
	background: #2E441E;
	color: white;
	border-spacing: 0px;
	border-collapse: seperate;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: 2px solid #383838;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	text-align: center;
}

.tooltabcon {
	background: #478B19;
	color: white;
	border-spacing: 0px;
	border-collapse: seperate;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: 2px solid #383838;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	text-align: center;
}

.typeimg {
	border: 0 0 0 0;
}

.alterdex {
	background: #62CA1C;
	color: black;
	font-size: 1em;
	width: 138px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	border-spacing: 0px;
	border-collapse: seperate;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	margin-top: 15px;
	border: 2px solid #383838;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	vertical-align: middle;
}

.anctab {
	border: 0;
	border-spacing: 2px;
	border-collapse: seperate;
	width: 300px;
	margin-bottom: 15px;
}

.anctab td {}

.formpic {
	width: 120px;
}

.sprite {
	width: 120px;
}

.minisprite {
	width: 32px;
}

@media (max-width:1011px) {
	.tooltab {
		width: 198px
	}
	.alterdex {
		width: 198px;
		height: 60px;
	}
	.dextable td {
		font-size: 0.95em;
		max-height: 999999px;
		/*fix chrome fontsize bug*/
	}
	.dextab td {
		font-size: 0.95em;
	}
	.typeimg {
		width: 48px;
	}
	.formpic {
		width: 80px;
	}
	.sprite {
		width: 70px;
	}
	.minisprite {
		width: 48px;
	}
	.pkmn {
		font-size: 1em;
	}
	.alterdex {
		font-size: 1em;
	}
	.tabintab {
		font-size: 1em;
	}
}