.gametable {
    border: 0;
    border-spacing: 2px;
    border-collapse: separate;
    width: 70%;
    margin: auto;
    margin-top: 12px;
}

.gametable td {
    vertical-align: middle;
    padding: 3px;
    font-size: 1em;
}

.colle,
.cen {
    text-align: center;
    border-radius: 3px;
    border: 1px solid #1d2b62;
    color: white;
}

.colle {
    background: #3e4872;
    font-weight: bold;
}

.colle:hover {
    background: #5a68a6;
}

.cen {
    background: #0f1733;
}

.systems td {
    padding: 0 10px;
    font-size: 0.95em;
}

.gametable tr:not(thead *):hover {
    text-shadow:
        0 0 3px rgba(255, 255, 255, 0.9),
        0 0 5px rgba(255, 255, 255, 0.7),
        0 0 15px rgba(255, 255, 255, 0.6);
    transition: 0.1s ease;
}

.nowrap {
    white-space: nowrap;
}

.tablesorter .filtered {
    opacity: 0.7;
}

.tablesorter-default td.hide-column,
.tablesorter-default th.hide-column,
.tablesorter-filter-row {
    display: none;
}

@media only screen and (min-width: 600px) {
    .tablesorter-default thead th.sortable {
        background-image: url("../images/sort.gif");
        background-position: center right;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .tablesorter-default thead th.sortable.headerSortUp,
    .tablesorter-default thead th.sortable.tablesorter-headerAsc {
        background-image: url("../images/sortup.gif");
    }

    .tablesorter-default thead th.sortable.headerSortDown,
    .tablesorter-default thead th.sortable.tablesorter-headerDesc {
        background-image: url("../images/sortdown.gif");
    }

    .colle {
        padding: 3px;
        cursor: pointer;
        min-width: 90px;
    }
}

@media (max-width: 900px) {
    .gametable {
        width: 100%;
    }

    .gametable td {
        font-size: 0.95em;
    }
}
