body,
html {
    margin: 0;
    height: 100%;
    background: black;
    color: #fff;
    font-family: Verdana, sans-serif;
    font-size: 11px;
}

main {
    display: block;
    margin: 1em;
    position: relative;
    z-index: 1;
    padding-bottom: 60px;
    text-align: center;
}

.center {
    text-align: center;
}

table.center {
    margin: 0 auto;
    text-align: left;
}

table {
    padding-bottom: 20px;
}

img {
    max-width: 100%;
}

.icon {
    display: inline-block;
    height: 0.8em;
    vertical-align: middle;
    transform: translateY(-0.2em);
}

@media (max-width: 600px) {
    .icon {
        height: 0.6em;
    }
}

@media (min-width: 901px) {

    body,
    html {
        cursor: url("../images/cursor.png"), pointer;
    }
}
