.sectionLabel {
    text-align: center;
}

#nowPlayingSection {
    display: flex;
    justify-content: center;
}

#nowPlayingContainer {
    display: flex;
    justify-content: center;
    margin:auto;
    max-width: 80%;
}

#nowPlayingList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

.nowPlayingCard {
    background: #0f1733;
    border: 1px solid #5a68a6;
    padding: 12px 18px;
    border-radius: 8px;
    min-width: 120px;
    text-align: center;
    font-size: 1rem;
    line-height: 1.4;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
